
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thông tin cá nhân</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Thông tin cá nhân</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/Content/css/user.css">
    <!------ Include the above in your HEAD tag ---------->

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="/Content/img/l4.jpg"
                             alt="" class="position-relative"/>
                        <label for="change_avatar" id="label_change_avatar">
                            <img src="~/Content//img/photo-camera.png" style="width:40px; height:40px;"/>
                        </label>
                        <input type="file" name="upfile_avatar" id="change_avatar" style="display:none"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h6>
                            NGUYỄN VĂN A
                        </h6>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Thay đổi" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Mã khách hàng</label>
                                </div>
                                <div class="col-md-6">
                                    <p>123</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Họ và tên</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" value="Nguyễn Văn A">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Giới tính</label>
                                    <p></p>
                                </div>
                                <div class="col-md-6">
                                    <select class="gender_select">
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ</option>
                                    </select>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" value="nguyenvana@gmail.com">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Số điện thoại</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" value="0123456789">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Địa chỉ</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" value="Hà Nội">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



