
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thanh toán</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Xác nhận thanh toán</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        @*<div class="returning_customer">
            <div class="check_title">
                <h2>
                    Phản hồi khách hàng?
                    <a href="#">Bấm vào đây để Đăng nhập</a>
                    @Html.ActionLink("Bấm vào đây để Đăng nhập", "DangNhap", "TaiKhoan")
                </h2>
            </div>
            <p>
                Nếu bạn đã mua sắm với chúng tôi trước đây, vui lòng nhập thông tin của bạn vào các hộp bên dưới.
                Nếu bạn là khách hàng mới, vui lòng tiến hành phần thanh toán & vận chuyển.
            </p>
            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" id="name" name="name">
                    <span class="placeholder" data-placeholder="Tên đăng nhập hoặc Email"></span>
                </div>
                <div class="col-md-6 form-group p_star">
                    <input type="password" class="form-control" id="password" name="password">
                    <span class="placeholder" data-placeholder="Mật khẩu"></span>
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="primary-btn">đăng nhập</button>
                    <div class="creat_account">
                        <input type="checkbox" id="f-option" name="selector">
                        <label for="f-option">Ghi nhớ tôi</label>
                    </div>
                    <a class="lost_pass" href="#">Quên mật khẩu?</a>
                </div>
            </form>
        </div>*@
        @*<div class="cupon_area">
            <div class="check_title">
                <h2>Bạn có phiếu giảm giá? <a href="#">Bấm vào đây để nhập mã giảm giá</a></h2>
            </div>
            <input type="text" placeholder="Nhập mã">
            <a class="tp_btn" href="#">Áp dụng mã</a>
        </div>*@
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Thông tin khách hàng</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" placeholder="Họ Tên" id="first" name="name">                          
                        </div>
 
                        <div class="col-md-12 form-group p_star">
                            <input type="number" class="form-control" id="number" name="number" placeholder="Số Điện Thoại">                        
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <input type="email" class="form-control" id="email" name="compemailany" placeholder="Email">                           
                        </div>

                        @*<div class="col-md-12 form-group p_star">
                            <select class="country_select">
                                <option value="1">Việt Nam</option>
                                <option value="2">Mỹ</option>
                                <option value="4">Hàn Quốc</option>
                            </select>
                        </div>*@

                    <div class="col-md-12 form-group">
                        <textarea class="form-control" name="message" id="message" rows="1" placeholder="Địa chỉ nhận"></textarea>
                    </div>
                 
                        @*<div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Tạo tài khoản?</label>
                            </div>
                        </div>*@

                        <div class="col-md-12 form-group">                           
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Ghi chú"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Đơn hàng</h2>
                        <ul class="list">
                            <li><a href="#">Sản phẩm <span>Thành tiền</span></a></li>
                            <li><a href="#">Bitis Hunter Core 3D<span class="middle">x 01</span> <span class="last">694.000</span></a></li>
                            <li><a href="#">Bitis Hunter X <span class="middle">x 01</span> <span class="last">786.000</span></a></li>                       
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Tạm tính <span>1.922.000</span></a></li>
                            <li><a href="#">Phí vận chuyển <span>25.000</span></a></li>
                            <li><a href="#">Tổng tiền <span>1.947.000</span></a></li>
                        </ul>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
