
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Xác nhận</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Xác nhận</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Order Details Area =================-->
<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">Cảm ơn bạn. Đơn đặt hàng của bạn đã được xác nhận.</h3>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Thông tin đặt hàng</h4>
                    <ul class="list">
                        <li><a href="#"><span>Mã đơn hàng</span> : 60235</a></li>
                        <li><a href="#"><span>Ngày đặt hàng</span> : 27/9/2022</a></li>
                        <li><a href="#"><span>Tổng tiền</span> : 1.947.000</a></li>
                        <li><a href="#"><span>Hình thức thanh toán</span> : Thanh toán khi nhận hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Địa chỉ đặt hàng</h4>
                    <ul class="list">
                        <li><a href="#"><span>Số nhà/Đường</span> : 236 Hoàng Quốc Việt</a></li>
                        <li><a href="#"><span>Phường</span> : Cổ Nhuế 1</a></li>
                        <li><a href="#"><span>Quận</span> : Bắc Từ Liêm</a></li>
                        <li><a href="#"><span>Thành phố </span> : Hà Nội</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Địa chỉ giao hàng</h4>
                    <ul class="list">
                        <li><a href="#"><span>Số nhà/Đường</span> : 236 Hoàng Quốc Việt</a></li>
                        <li><a href="#"><span>Phường</span> : Cổ Nhuế 1</a></li>
                        <li><a href="#"><span>Quận</span> : Bắc Từ Liêm</a></li>
                        <li><a href="#"><span>Thành phố </span> : Hà Nội</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Chi tiết đơn hàng</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>Bitis Hunter Core 3D</p>
                            </td>
                            <td>
                                <h5>x 01</h5>
                            </td>
                            <td>
                                <p>694.000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Bitis Hunter X </p>
                            </td>
                            <td>
                                <h5>x 01</h5>
                            </td>
                            <td>
                                <p>786.000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Nike Air Force 1 </p>
                            </td>
                            <td>
                                <h5>x 01</h5>
                            </td>
                            <td>
                                <p>442.000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Tạm tính</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>1.922.000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Phí vận chuyển</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p>25.000</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Tổng tiền</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p></p>1.947.000</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->
