
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Blog </h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Blog</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/Content/img/blog/cat-post/cat-post-3.jpg" alt="post" width="350" height="215">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                           
                                <h5>Giầy phổ thông</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Chia sẻ những mẫu giày đang phổ biến</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/Content/img/blog/cat-post/cat-post-2.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                        <h5>Giày công sở</h5>
                             </a>
                            
                            <div class="border_line"></div>
                            <p>Trở nên lịch sự hơn nào</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img src="/Content/img/blog/cat-post/cat-post-1.jpg" alt="post">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="blog-details.html">
                                <h5>Giày dị</h5>
                            </a>
                            <div class="border_line"></div>
                            <p>Cứ khác biệt thôi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->
<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a href="#">Giày phổ thông,</a>
                                    <a class="active" href="#">Giày công sở,</a>
                                    <a href="#">Giày dị,</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Nguyễn Tùng Lâm<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">1.2M Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Bình Luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="/Content/img/blog/main-blog/m-blog-1.jpg" alt="">
                                <div class="blog_details">
                                    <a href="@Url.Action("ThongKe", "Admin")">
                                        <h2>Chọn giày nơi công sở !!!</h2>
                                        
                                    </a>
                                    <p>
                                        Những đôi giày nam công sở là món đồ không thể thiếu trong tủ thời trang nam giới.
                                        Mặc dù có thể nhiều người đàn ông không có nhu cầu sở hữu nhiều giày để thay đổi,
                                        chỉ cần một số đôi cơ bản nhưng nhất định là phải chất lượng và tiện ích.
                                        Vậy làm thế nào để có thể lựa chọn cho mình mẫu giày phù hợp nhất với nhu cầu sử dụng,
                                        phong cách và sở thích cá nhân. Hãy cùng chúng tôi dạo qua tham khảo một số mẫu giày nam công sở nổi bật dành cho nam giới nhé.
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a class="active" href="#">Giày phổ thông,</a>
                                    <a href="#">Giày công sở,</a>
                                    <a href="#">Giày dị,</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Nguyễn Tùng Lâm<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">1.2M Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Bình Luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="/Content/img/blog/main-blog/m-blog-2.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Giày và thiên nhiên </h2>
                                    </a>
                                    <p>
                                        Trong vài năm qua, chúng ta đã thấy sự gia tăng đáng kể về số lượng giày thể thao thân thiện với môi trường.
                                        Người dùng dần nhận thức được tầm quan trọng của môi trường trong cuộc sống, từ đó thay đổi thói quen mua sắm.
                                        Nắm bắt được xu hướng của khách hàng, nhiều thương hiệu sneaker lớn cũng đã bắt đầu thay đổi phương thức,
                                        sản xuất và phân phối để đáp ứng nhu cầu của người dùng.
                                        Vì vậy, hãy cùng ELLY điểm qua những đôi giày thể thao thân thiện với môi trường hiện nay nhé!
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a class="active" href="#">Giày phổ thông,</a>
                                    <a href="#">Giày công sở,</a>
                                    <a href="#">Giày dị,</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Nguyễn Tùng Lâm<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">1.2M Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Bình Luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="/Content/img/blog/main-blog/m-blog-3.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Chọn giày cho ngày trọng đại</h2>
                                    </a>
                                    <p>
                                        Giày cưới đẹp – Chọn giày cưới đẹp là việc đòi hỏi cô dâu phải thật sự khéo léo.
                                        Sự lựa chọn phải phù hợp với váy cưới, các phụ kiện khác cũng như tổng thể toàn bộ trang phục.
                                        Có rất nhiều màu sắc, kích thước và chất liệu khác nhau để cô dâu lựa chọn.
                                        Đa phần giày cưới thường trang trí bằng họa tiết ánh kim, màu sắc rực rỡ, phủ ren…
                                        Có nhiều kiểu dáng dành riêng cho các cô dâu yêu sự đơn giản và thanh lịch.
                                        Nếu bạn muốn có được những hướng dẫn cụ thể để chọn giày cưới,
                                        hãy xem những nguyên tắc dưới đây:
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a class="active" href="#">Giày phổ thông,</a>
                                    <a href="#">Giày công sở,</a>
                                    <a href="#">Giày dị,</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Nguyễn Tùng Lâm<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">1.2M Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Bình Luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="/Content/img/blog/main-blog/m-blog-4.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Chọn giày cho những chyến đi</h2>
                                    </a>
                                    <p>
                                        Ngoài việc chuẩn bị trang phục phù hợp, thứ bạn cần quan tâm tiếp theo chính là giày dép.
                                        Làm sao để số đôi giày mình mang theo vừa đủ mà lại hợp với từng địa danh, từng tính chất nơi đến.
                                        Đây là 7 mẹo chọn giày đi du lịch cho chuyến đi xa của bạn hoàn hảo
                                    </p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    <a class="active" href="#">Giày phổ thông,</a>
                                    <a href="#">Giày công sở,</a>
                                    <a href="#">Giày dị,</a>
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">Nguyễn Tùng Lâm<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">12 Dec, 2018<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">1.2M Lượt xem<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Bình Luận<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="/Content/img/blog/main-blog/m-blog-5.jpg" alt="">
                                <div class="blog_details">
                                    <a href="single-blog.html">
                                        <h2>Giày 2022</h2>
                                    </a>
                                    <p>Theo dõi các mẫu giày trending năm 2022.</p>
                                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm bài viết" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="/Content/img/blog/author.png" alt="">
                        <h4>Nguyễn Tùng Lâm</h4>
                        <p>Người viết bài tập sự</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <p>Mình viết vì đam mê thôi các bạn. </p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Bài viết phổ biến</h3>
                        <div class="media post_item">
                            <img src="/Content/img/blog/popular-post/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Tại sao chọn giày quan trọng</h3>
                                </a>
                                <p>02 giờ trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="/Content/img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Vì sao người ta đam mê giày ?</h3>
                                </a>
                                <p>02 giờ trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="/Content/img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Người giàu và cách chọn giày ?</h3>
                                </a>
                                <p>03 giờ trước</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="/Content/img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html">
                                    <h3>Vì sao nên có một đôi giày tốt ?</h3>
                                </a>
                                <p>01 giờ trước</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="/Content/img/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Thể loại</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Giày phổ thông</p>
                                    <p>37</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Giày công sở</p>
                                    <p>24</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Giày dị</p>
                                    <p>59</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex justify-content-between">
                                    <p>Khác</p>
                                    <p>29</p>
                                </a>
                            </li>
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Từ khóa</h4>
                        <ul class="list">
                            <li><a href="#">Công nghệ</a></li>
                            <li><a href="#">Du lịch</a></li>
                            <li><a href="#">Phong cách</a></li>
                            <li><a href="#">Thời trang</a></li>
                            <li><a href="#">Truyền thống</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
