
@{
    ViewBag.Title = "KiemTraDonHang";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Theo Dõi Đơn Hàng</h1>
                <nav class="d-flex align-items-center">
                    <!-- <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Fashon Category</a> -->
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <div class="tracking_box_inner">
            <p>Để theo dõi đơn hàng của bạn, vui lòng nhập ID đơn hàng của bạn vào ô bên dưới và nhấn nút "Theo Dõi". </p>
            <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="order" name="order" placeholder="Nhập ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập ID'">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Địa Chỉ Email Thanh Toán" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa Chỉ Email Thanh Toán'">
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="primary-btn">Theo Dõi</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
