@model List<KarmaModels.KarmaModels.DANHMUCSP>
@{
    ViewBag.Title = "ThemSanPham";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item" aria-current="page">Quản lý sản phẩm</li>
                <li class="breadcrumb-item active" aria-current="page">Thêm mới sản phẩm</li>
            </ol>
        </nav>

    </div><!-- End Page Title -->
    <section class="section">
        <form action="ThemSP" method="post" enctype="multipart/form-data" class="inf-basic-form">
            <div class="row inf-basic-wrap">
                <div class="inf-basic">Thông tin cơ bản</div>

                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                    <div class="col-2">Tên sản phẩm</div>
                    <input type="text" name="TenSP" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center">
                    <div class="col-2">Danh mục</div>
                    <select name="TenDM" id="">
                        @foreach (var d in Model)
                        {
                            <option value="@d.TenDM">@d.TenDM</option>
                        }

                    </select>
                </div>
                <div class="d-flex name_prod-wrap align-items-center">
                    <div class="col-2">Số lượng</div>
                    <input type="text" name="SoLuongTong" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center">
                    <div class="col-2">Đơn giá</div>
                    <input type="text" name="DonGia" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center">
                    <div class="col-2">Mô tả</div>
                    <textarea name="MoTa" id="" cols="32" rows="3"></textarea>
                </div>

            </div>
            <div class="row inf-basic-wrap" style="margin-top: 10px;">
                <div class="inf-basic">Ảnh</div>
                <div class="img-prod">
                    <div class="d-flex align-items-center justify-content-between" style="width: 25%">
                        <div class="col-2" style="width:50%">
                            Hình ảnh chính
                        </div>
                        <div class="up-file-wrap">
                            <label for="file-img-prod0" class="lb_up_imgprod">Chọn ảnh</label>
                            <input type="file" name="Anhs" id="file-img-prod0"  hidden>
                        </div>
                    </div>
                    <div class="preview-img-wrap">
                        <img src="" alt="preview" class="preview-img-prod" hidden>
                    </div>
                    
                </div>
                <div class="img-prod">
                    <div class="d-flex align-items-center justify-content-between" style="width: 25%">
                        <div class="col-2" style="width:50%">
                            Hình ảnh 1
                        </div>
                        <div class="up-file-wrap">
                            <label for="file-img-prod1" class="lb_up_imgprod">Chọn ảnh</label>
                            <input type="file" name="Anhs" id="file-img-prod1"  hidden>
                        </div>
                    </div>
                    <div class="preview-img-wrap">
                        <img src="" alt="preview" class="preview-img-prod" hidden>
                    </div>
                </div>
                <div class="img-prod">
                    <div class="d-flex align-items-center justify-content-between" style="width: 25%">
                        <div class="col-2" style="width:50%">
                            Hình ảnh 2
                        </div>
                        <div class="up-file-wrap">
                            <label for="file-img-prod2" class="lb_up_imgprod">Chọn ảnh</label>
                            <input type="file" name="Anhs" id="file-img-prod2"  hidden>
                        </div>
                    </div>
                    <div class="preview-img-wrap">
                        <img src="" alt="preview" class="preview-img-prod" hidden>
                    </div>
                </div>
                <div class="img-prod">
                    <div class="d-flex align-items-center justify-content-between" style="width: 25%">
                        <div class="col-2" style="width:50%">
                            Hình ảnh 3
                        </div>
                        <div class="up-file-wrap">
                            <label for="file-img-prod3" class="lb_up_imgprod">Chọn ảnh</label>
                            <input type="file" name="Anhs" id="file-img-prod3"  hidden>
                        </div>
                    </div>
                    <div class="preview-img-wrap">
                        <img src="" alt="preview" class="preview-img-prod" hidden>
                    </div>
                </div>


            </div>

            <div class="row inf-basic-wrap" style="margin-top: 10px;">
                <div class="inf-basic">Thông tin chi tiết</div>
                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                    <div class="col-2">Màu</div>
                    <input type="color" name="Color" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                    <div class="col-2">Size</div>
                    <input type="text" name="Size1" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center">
                    <div class="col-2">Chất liệu</div>
                    <input type="text" name="ChatLieu1" id="" />
                </div>

            </div>


            <div class="row inf-basic-wrap" style="margin-top: 10px;">
                <div class="inf-basic">Thông tin Nhà sản xuất</div>
                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                    <div class="col-2">Tên nhà SX</div>
                    <input type="text" name="TenNSX" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center" style="border-bottom: 1px solid #aab7cf;">
                    <div class="col-2">Địa chỉ</div>
                    <input type="text" name="DiaChi" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center">
                    <div class="col-2">Email</div>
                    <input type="email" name="Email" id="" />
                </div>
                <div class="d-flex name_prod-wrap align-items-center">
                    <div class="col-2">SĐT</div>
                    <input type="number" name="Sdt" id="" />
                </div>

            </div>
            <div class="btn-sx-wrap d-flex justify-content-end">
                <div class="d-flex justify-content-between btn-wrap">
                    <button class="btn btn-sm btn-secondary btn-exit">Thoát</button>
                    <button class="btn btn-sm btn-primary btn-save">Lưu</button>
                </div>
            </div>

        </form>
    </section>
    <script type="text/javascript">

        $(function () {
            $('#file-img-prod').on('change', function () {
                var filePath = $(this).val();
                console.log(filePath);
            });
        });

    </script>

</main><!-- End #main -->
