@model List<int>
@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<head>
    <title>Thống kê - Admin</title>
</head>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Thống kê</h1>

    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Doanh thu</h5>

                        <!-- Line Chart -->
                        <canvas id="lineChart" style="max-height: 400px;"></canvas>
                        <script>
                            var lable_c1 = [];
                            var value_c1 = [];
                            const data = @Html.Raw(Json.Encode(ViewBag.tkDT));
                            
                            for (var key in data) {
                                var value = data[key];
                                lable_c1.push("Tháng"+ key);
                                value_c1.push(value );
                            }
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#lineChart'), {
                    type: 'line',
                      data: {
                          labels: lable_c1,
                      datasets: [{
                          label: 'Doanh thu',
                          data: value_c1,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
                        </script>
                        <!-- End Line CHart -->

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đơn hàng</h5>

                        <!-- Bar Chart -->
                        <canvas id="barChart" style="max-height: 400px;"></canvas>
                        <script>
                            var lable_c2 = [];
                            var value_c2 = [];
                            
                            const dataSLDH = @Html.Raw(Json.Encode(ViewBag.tkSLDH));
                            for (var key in dataSLDH) {
                                var value = dataSLDH[key];
                                lable_c2.push("Tháng"+ key);
                                value_c2.push(value );
                            }
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                        labels: lable_c2,
                      datasets: [{
                        label: '',
                          data: value_c2,
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
                        </script>
                        <!-- End Bar CHart -->

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Đơn tiếp nhận</h5>

                        <!-- Pie Chart -->
                        <canvas id="pieChart" style="max-height: 400px;"></canvas>
                        <script>
                         var lable_c3 = [];
                         var value_c3 = [];

                            const dataTT = @Html.Raw(Json.Encode(ViewBag.tkTT));
                            for (var key in dataTT) {
                                var value = dataTT[key];
                                lable_c3.push(key);
                                console.log(key);
                                value_c3.push(value);
                                console.log(value);
                            }
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                      data: {
                          labels: lable_c3,
                      datasets: [{
                          label: 'Tình trạng đơn',
                          data: value_c3,
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(54, 162, 235)',
                          'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
                        </script>
                        <!-- End Pie CHart -->

                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>

        </div>
    </section>

</main><!-- End #main -->
