@using KarmaModels.KarmaModels;
@using System.Globalization;
@using PagedList.Mvc;
@using WebApplication1.Models;
@model PagedList.PagedList<BinhLuan>
@{
    Layout = null;
}

<div class="comment_list" id="dich">


    @foreach (var it in Model)
    {
        <div class="review_item">
            <div class="media">
                <div class="d-flex">
                    <img src="/Content/img/product/review-1.jpg" alt="" width="71" height="71" class="rounded-circle">

                </div>
                <div class="media-body">
                    <h4>@it.TenKH</h4>
                    @*<h5>12th Feb, 2018 at 05:56 pm</h5>*@
                    <a class="reply_btn" href="#">Phản Hồi</a>
                </div>
            </div>
            <p>@it.ND</p>
        </div>

    }




    @*@Html.PagedListPager(BinhLuan, page => Url.Action("", new { page  }))*@
    @*@PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "contact", InsertionMode = InsertionMode.Replace });*@

</div>
@Html.PagedListPager(Model, page => Url.Action("BinhLuanPatialView", new { page }))


