
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestAnh</title>
</head>
<body>
    <div> 

        <img src="~/Content/img/product/37.jpg" alt="Alternate Text" />

    </div>
</body>
</html>
