
@using KarmaModels.KarmaModels
@model List<SANPHAM>
@using System.Globalization;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/MyLayout.cshtml";
}


<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>BỘ SƯU TẬP <br>NIKE MỚI!</h1>
                                <p>Nike là thương hiệu thời trang thể thao được thành lập năm 1964 tại Mỹ. Sau nhiều năm trên thị trường, hãng đã gây dựng được một đế chế vững mạnh mà khó có đối thủ nào có thể bắt kịp. Các sản phẩm từ thương hiệu này mang đặc trưng rất rõ nét, với chất liệu cao cấp và thiết kế đa dạng cho nhiều mục đích khác nhau.</p>
                                <div class="add-bag d-flex align-items-center">
                                   
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="/Content/img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>BỘ SƯU TẬP <br>NIKE MỚI!</h1>
                                <p>Mỗi năm, nhà mốt Nike lại cho ra những bộ sưu tập giày nike nam chất lượng và đa dạng. Tuy nhiên việc cho ra mắt quá nhiều những mẫu giày nam đẹp cũng khiến cho tín đồ yêu thời trang, đặc biệt là các bạn trẻ gặp khó khăn trong việc chọn lựa một đôi giày phù hợp. Karma sẽ bật mí bộ sưu tập giày Nike nam không thể bỏ lỡ trong năm 2022 giúp bạn dễ dàng phối đồ thật phong cách nhé!</p>
                                <div class="add-bag d-flex align-items-center">
                                  
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="/Content/img/banner/PngItem_3302168.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/Content/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Miễn Phí Vận Chuyển</h6>
                    <!-- <p>Free Shipping on all order</p> -->
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/Content/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Chính Sách Hoàn Trả</h6>
                    <!-- <p>Free Shipping on all order</p> -->
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/Content/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ Trợ 24/7</h6>
                    <!-- <p>Free Shipping on all order</p> -->
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="/Content/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Thanh Toán An Toàn</h6>
                    <!-- <p>Free Shipping on all order</p> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="/Content/img/category/c1.jpg" alt="">
                            <a href="/Content/img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Giày thể thao </h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="/Content/img/category/c2.jpg" alt="">
                            <a href="/Content/img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Giày thể thao</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="/Content/img/category/c3.jpg" alt="">
                            <a href="/Content/img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sản phẩm cho cặp đôi</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="/Content/img/category/c4.jpg" alt="">
                            <a href="/Content/img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Giày thể thao</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="/Content/img/category/c5.jpg" alt="">
                    <a href="/Content/img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Siêu sale</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->


<!-- start product Area -->
<section class="owl-carousel section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                @*<div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản Phẩm Mới</h1>

                    </div>
                </div>*@
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (var data in Model.Take(8))
                {

                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <a href="/SanPham/SanPhamChiTiet/@data.MaSP">
                                <img class="img-fluid"  src="/Content/img/product/p1.jpg" alt="">   
                            </a>
                            <div class="product-details">
                                <a href="/SanPham/SanPhamChiTiet/@data.MaSP">
                                    <h6>
                                        @data.TenSP
                                    </h6>
                                </a>
                                <div class="price">
                                    @{
                                        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
                                        string gia = data.DonGia.Value.ToString("#,###", cul.NumberFormat);
                                    }
                                   
                                    <span>@gia đ </span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
               
                }
            </div>
        </div>
    </div>



     @*single product slide*@ 
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                @*<div class="col-lg-6 text-center">
                    
            </div>*@
        </div>
    </div>

        
        </section>
<script>
    $('.add-to-cart').click(function (e) {
        e.preventDefault();
        var id = $(this).attr('id');
        var url = "/GioHang/ThemVaoGioHang/" + id;
        console.log(url);
        $.ajax({
            url: url,
            type: "POST",
            success: function (data) {
                if (data.status == "successful") {
                    alert("Thêm vào giỏ hàng thành công!");
                }
            }
        });
    });
</script>



<!-- end product Area -->
